html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: "Verdana", "sans serif";
    font-size: 18px;
    background: #262626;
    line-height: 1.51857143;
    display: grid;
    color: white;
    grid-template-rows: 1fr auto;
}

.sign-up {
      align-items: center;
      display: flex;
      flex-direction: column;
}

label{
      display: block;
}

.error-message {
      display: none;
}

input[type=text], input[type=password] {
    display: block;
    padding: 5px;
    border: 1px solid #b5b7b6;
    margin-top: 10px;
    background: transparent;
}